/* @import url("https://fonts.googleapis.com/css2?family=Muli&display=swap"); */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  color: #000;
}

.container {
  padding: 20px 40px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #0080ed;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0, 98);
}

.text {
  margin-top: 30px;
}

.form-control {
  width: 400px;
  margin-bottom: 2rem;
}

.form-control label {
  display: block;
  margin: 1rem 0;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #777;
}

.form-control input:focus,
.form-control input:valid {
  outline: 3px solid #529fe269;
  border: 2px solid #0080ed;
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

form .btn {
  margin: 2rem 0;
  color: white;
  font-weight: 500;
  font-size: 1.75rem;
}

.text a {
  color: #0080ed;
  font-weight: 500;
}
