:root {
  font-size: 62.5%;
}

body {
  background-color: #fcfcfc;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #222;
  font-smooth: auto;
}

header {
  background-color: #0080ed;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 2rem;
}

button {
  cursor: pointer;
}

header h1 {
  color: #fff;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  padding: 24px;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* Hero */

.hero {
  padding: 0 2rem;
}

.hero__titulo {
  font-size: 8rem;
  font-weight: 600;
}

.hero__subtitulo {
  margin-bottom: 15px;
  color: #777;
}

.hero__info {
  display: flex;
  gap: 2rem;
  height: 350px;
}

.hero__introdução {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 4rem;
  flex: 1;
}

.hero__lista {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 4rem;
  gap: 1rem;
  font-weight: 500;
  color: #529fe2;
  flex: 1;
  font-size: 3rem;
}

.hero__lista li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero__div {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__div h3 {
  font-size: 25px;
  text-align: center;
}

.icon {
  height: 24px;
  width: auto;
  opacity: 0.5;
}

.hero__button {
  display: block;
  text-align: center;
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid #0080ed;
  color: #0080ed;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
  transition-property: background-color, color;
  height: 50px;
  width: 300px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.button-secondary:hover {
  color: white;
  font-weight: 500;
  background-color: #0080ed;
}

.button-primary {
  background-color: #0080ed;
  color: white;
}

/* Parceiros */

.parceiros {
  margin: 4rem 0;
}

.parceiros h2 {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 50px;
}

.cards {
  width: 90%;
  max-width: 980px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.text--medium {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 5px 5px 15px -4px hsla(0, 0%, 0%, 0.2);
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
}

.image {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.image img {
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin: 20px;
}

.title {
  margin-bottom: 0px;
}

/* Footer */

footer {
  background-color: #0080ed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  margin-top: 50px;
  color: #fff;
}

.nav {
  margin-left: auto;
}

/* REGISTRO */

.cadastro {
  margin: 5rem 0;
}

.cadastro__titulo {
  text-align: center;
  margin: 4rem 0;
  font-size: 3rem;
}

.cadastro-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro__image {
  display: flex;
  height: 300px;
}

.cadastro-form {
  margin: 0 10rem;
}

.cadastro__form-control {
  margin: 2rem 0;
}

.cadastro__form-control input {
  display: block;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #777;
}

.cadastro__form-control input:focus {
  border: 2px solid #0080ed;
  outline: 3px solid rgba(0, 126, 237, 0.2);
}

.cadastro__form-control label {
  font-size: 1.75rem;
}

.cadastro-form__button {
  background-color: #0080ed;
  border: none;
  color: white;
  font-size: 1.75rem;
  font-weight: 500;
  padding: 1rem 2rem;
  transition: all 0.2s ease;
}

.cadastro-form__button:hover {
  background-color: #2f92e8;
}

@import "queries.css";
