:root {
  font-size: 62.5%;
}

body {
  background-color: #030303;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-smooth: auto;
}

header {
  background-color: #0080ed;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 2rem;
}

button {
  cursor: pointer;
}

header h1 {
  color: #fff;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  padding: 24px;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.15);
}

header nav ul li a span{
  color: rgb(207, 166, 90);
}

/* Hero */

.hero {
  background-image: url("https://www.cocvilayara.com.br/blog/img/blog-confira-alguns-apps-para-treinar-seu-ingles-durante-o-isolamento.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.hero__info {
  display: flex;
  gap: 2rem;
  height: 500px;
}

.hero__introdução {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 4rem;
  flex: 1;
  margin-left: 180px;
}

.hero__titulo {
  font-size: 8rem;
  font-weight: 600;
}

.hero__subtitulo {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #51a1e7;
}

.hero__lista {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 4rem;
  gap: 1rem;
  font-weight: 500;
  color: #529fe2;
  flex: 1;
  font-size: 3rem;
}

.hero__lista li {
  display: flex;
  align-items: center;
  gap: 1rem;
  animation: text_reveal .5s ease forwards;
  animation-delay: .5s;
}

.hero__lista li:nth-child(1) {
  animation-delay: 1s;
}

.hero__lista li:nth-child(2) {
  animation-delay: 1.6s;
}

.hero__lista li:nth-child(3) {
  animation-delay: 2.2s;
}

.hero__lista li:nth-child(4) {
  animation-delay: 2.8s;
}

.hero__lista li span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgba(224, 196, 36, 0.034);
}

.hero__lista li:nth-child(1) span {
  animation-delay: .5s;
}

.hero__lista li:nth-child(2) span {
  animation-delay: 1s;
}

.hero__lista li:nth-child(3) span {
  animation-delay: 1.5s;
}

.hero__lista li:nth-child(4) span {
  animation-delay: 2s;
}

.hero__div {
  display: flex;
}

.hero__div h3 {
  font-size: 25px;
  text-align: center;
}

.hero__div2 {
  display: flex;
}

.hero__div2 h3 {
  font-size: 25px;
  text-align: center;
}

.icon {
  height: 24px;
  width: auto;
  opacity: 0.5;
}

.hero__button {
  display: flex;
}

.button-secondary {
  display: flex;
}

.button-primary {
 display: flex;
}

.button-secondary:hover {
  color: white;
  background-color: rgb(4, 64, 133);
}

.button-primary:hover {
  color: white;
  background-color: rgb(4, 64, 133);
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  background-color: #0080ed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 100%;
  margin-top: 50px;
  color: #fff;
}

.nav {
  margin-left: auto;
}

.download__button {
  margin: 50px;
  padding: 10px;
}

.cadastro-area {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.cadastro__image {
  display: flex;
  height: 300px;
  margin: 5rem 0;
  flex: 1;
  order: 2;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
  margin: 0 10rem;
  width: 100%;
  flex: 1;
}

.cadastro__form-control {
  margin: 1.5rem 0;
}

.cadastro__form-control input {
  display: block;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #777;
}

.cadastro__form-control input:focus {
  border: 2px solid #0080ed;
  outline: 3px solid rgba(0, 126, 237, 0.2);
}

.cadastro__form-control label {
  font-size: 1.75rem;
}

.cadastro-form__button {
  background-color: #0080ed;
  border: none;
  color: white;
  font-size: 1.75rem;
  font-weight: 500;
  padding: 1rem 2rem;
  transition: all 0.2s ease;
}

.cadastro-form__button:hover {
  background-color: #2f92e8;
}

.download__button:hover{
  margin: 50px;
  background-color: rgba(255,255,255,0.15);
  
}

/*Keyframes*/
@keyframes text_reveal{
  100%{
      color: white;
      background-color: #2f92e8;
  }
}
@keyframes text_reveal_name{
  100%{
      color: rgb(41, 124, 201);
      font-size: 80px;
      }
}

fieldset legend {
  font-size: 2rem;
  font-weight: 500;
}

.cadastro__form-control--checkboxes {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cadastro__form-control--checkboxes input {
  width: min-content;
  margin-top: 0;
}

@import "queries.css";
