:root {
  font-size: 62.5%;
}

body {
  background-color: #fcfcfc;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-smooth: auto;
}

/* Hero */

/* Beneficios */

/* Parceiros */

/* Sobre nos */

/* Contato */

/* Footer */

@import "queries.css";
