* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
button {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

a:visited,
a:link,
a:active,
a:hover {
  text-decoration: none;
}

input,
textarea {
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}
