* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
button {
  text-decoration: none;
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
}

body {
  font-size: 1.25rem;
}
